

.header {
    width: 96vw;
    padding: 0px 2vw;
    height: 15vh;
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.header div {
    display: flex;
    gap: 2vh;
}

svg {
    width: 5vh; 
}

.logo {
    width: 12vh;
}

