@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.div {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: white;
}

.box {
    width: 12vw;
    padding: 1vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 1px 2px 4px 2px rgb(215, 215, 215);

}

.box:hover {
    border: 1px solid black;
    box-shadow: none;
}

.box img {
    width: 100%;
}

.boxmodal {
    position: absolute;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1000;
    bottom: 0px;
    height: 3vw;
    width: 100%;
    background-color: rgba(221, 190, 255, 0.712);
  display: flex;
  align-items: center;
  justify-content: center;
  color: BLACK;
}

@media screen and (max-width: 750px) {
    .div {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        gap: 2rem;
        width: 100%;
        place-items: center;
        padding: 0;
    }

    .box {
        width: 30vw;
    }

    .boxmodal {
        height: 2rem;
        display: grid;
        place-content: center;
        text-align: center;
    }
    
}